.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
.Rapp.history

# chunks are only used for monitoring progress
rep_nosmooth/output/predictions
tuning/table1-redo/output/chunks
tuning/tuning-experiments/output/chunks

# > 100 MB
rep_nosmooth/trafo-data
rep_original/workspaces
tuning/table1-redo/trafo-data
tuning/table1-redo/output/full-model-grid.rds
tuning/tuning-experiments/trafo-data

# Ignore latex artifacts
paper.log
paper.md
*.aux
*.tex


~$paper.docx
