.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
.Rapp.history

# chunks are only used for monitoring progress
table1-redo/output/chunks
tuning-experiments/output/chunks

rep_nosmooth/output/predictions
rep_nosmooth/trafo-data

# > 100 MB
table1-redo/trafo-data
table1-redo/output/full-model-grid.rds
tuning-experiments/trafo-data

paper.log
