.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
.Rapp.history

# >100 MB
tuning-experiments/trafo-data

# chunks are only used for monitoring progress
tuning-experiments/output/chunks


table1-redo/output/full-model-grid.rds
table1-redo/output/chunks
